.text {
  color: white;
}

.roomIdContainer {
  display: flex;
  justify-content: center;
  cursor: pointer;
  padding: 20px;
  border: 1px dashed white;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 690px;
}

.tabPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
